*,
*::after,
*::before{
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	line-height: normal;
	font-variation-settings:
    "wdth" 100;

}

.container {
	width: 100%;
	max-width: 1200px;
	padding: 0 15px;
	height: 100%;
	margin: 0 auto;
}

.page-wrapper{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.btn {
	display: flex;
	padding: 8px 16px;
	align-items:center;
	gap: 4px;
	outline: none;
}
.btn-primary {
	border-radius: 2px;
	background: #1890ff;
	border: 1px solid #1890ff;
	color: #fff;
}
.btn-outline {
	border-radius: 2px;
	border: 1px solid #d9d9d9;
	background: #fff;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.00);
	color: #595959;
}

.logo{
	max-width: 100px;
}
.logo img{
	width: 100%;
}
.header {
	min-height: 124px;
	display: flex;
	align-items: center;
}

.header-controls{
	display: flex;
	align-items:center;
	justify-content: flex-end;
	gap: 10px;
}
.header-box,
.footer-box{
	
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
.main {
	flex-grow: 1;
	background: linear-gradient(180deg, rgba(245, 245, 245, 0.00) 1.04%, #f5f5f5 100%);
}
.footer {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	min-height: 156px;
	padding: 60px 0;
}

.footer-box{
	gap:36px;
}

.footer-nav{
	flex-grow: 1;

}

.footer-nav ul{
	display: flex;
	flex-wrap: wrap;
	align-items:center;
	list-style: none;
	margin: 0;
	padding: 0;
	gap: 15px;
}

.footer-nav ul li{
	color: #595959;
	font-size: 18px;
	font-stretch: normal;
}

.footer-social{
	display: flex;
	align-items:center;
	justify-content: flex-end;
	gap: 20px;
}

.banner{
	color: #302c34;
	margin-bottom: 56px;
}

.banner-item{
	background-image: url("../img/banners/bg-banner.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center right;
	padding: 68px;
	border-radius: 10px;
}

.banner-item-text{
	max-width: 50%;
}

.banner-item--title {
	font-size: 39px;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 15px;
}
.banner-item--subtitle {
	font-size: 24px;
	font-weight: 400;
	margin: 0;
}

.products {
}
.products-header {
	display:flex;
	align-items:center;
	justify-content: space-between;
}
.products-header--title {
	font-weight: 700;
	font-size: 36px;
	color: #000;
}
.products-header--search {
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: #d9d9d9;
	background: #fff;
	border-radius: 2px;
	border: 1px solid #d9d9d9;
	min-width: 306px;
	height: 34px;
	padding: 5px 12px;
}

.products-header--search:focus{
	outline:none;
	border: 1px solid #d9d9d9;
}

.products-header--search:placeholder{
	color: #bfbfbf;
	font-size: 16px;
	font-weight: 400;
	line-height: 150%;
}

@media (max-width: 991px) {
	.banner-item-text{
		max-width: 100%;
	}


}